# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.env
venv/
env/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
!example.tfvars

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
